__pycache__
.env
venv
Trainings/*
exported_datasets/*
logs/*
cache/*
cvat
al_object_detection.egg-info
build

dataset_venv
borrar_venv
active_learning_object_detection.ipynb
active_learning.ipynb
fiftyone.ipynb
faradai.ipynb
best.pt
yolov8l.pt
yolov8n.pt
sample.py